.horizontal{
  .field{
    margin-top: 20px;
    margin-left: 10px;
  }

  .name{
    margin-left: 10px;
  }

  .textInput{
    margin-top: 34px;
  }

  .textInputPassword{
    margin-top: 22px;
  }

  .textInputPhone{
    margin-top: 24px;
  }

  .save{
    margin-left: 150px;
    margin-right: 100px;
  }
}
